!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
*.pem
*.tsbuildinfo
.DS_Store
.env
.env*
.env.local
.pnp.*
.pnpm-debug.log*
.vercel
.yarn/*
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
bun.lock
next-env.d.ts
node_modules/
npm-debug.log*
output/
yarn-debug.log*
yarn-error.log*
!.env.example
